<h1>TinyApp header partial</h1>

<a href="/register">Register</a> <br>
<%if (!user) { %>
    <a href="/login">Login</a> <br>
<% } else { %>
    <h2>Logged in as: <%= user.email %></h2>
    <form action="/logout" method="POST">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>

<% } %>





