<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<h1>TinyApp header partial</h1>

<a href="/register">Register</a> <br>
<%if (!user) { %>
    <a href="/login">Login</a> <br>
<% } else { %>
    <h2>Logged in as: <%= user.email %></h2>
    <form action="/logout" method="POST">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>

<% } %>





