<% include ./partials/_header %>
<form method="POST" action="/login">
        Email:<br>
         <input type="email" name="email"><br>
       Password: <br>
        <input type="password" name="password">
        <button type="submit" class="btn btn-primary">login</button>
</form>

