<% include ./partials/_header %>
<h1>Email Registration</h1>

<form method="POST" action="/register">
        Email:<br>
        <input type="email" name="email"><br>
        Password:<br>
        <input type="password" name="password">
        <button type="submit" class="btn btn-primary">Register</button>

</form>